h1{
    color:blue;
    text-align: center;
    font-size:1.4em;
    font-family: 'Rubik Doodle Shadow', system-ui;
     font-weight: bold;
}
p{
    color:purple;
}
span{
    color:red;
}
.phrase,.objet{
    color:green;
}
.nom{
    color:brown;
}
div{
    color:gold;
    font-style: italic;
}
.mot{
    text-decoration-line: line-through;
}
.event{
    color:blue;
}

body{
    background-color: chocolate;
    background-image: url(mes_images/image_choix.jpg);
    background-repeat: no-repeat;
    opacity:0.4;
}
/*
body{
    background:lineaire-gradient(40deg,#FFA17F,#00223E);
    background-image: url(mes_images/image_choix.jpg);
    background-repeat: no-repeat;
}*/


   
 
   




    



