h1{
    color:blue;
}
p{
    color:purple;
}
span{
    color:red;
}
.phrase{
    color:green;
}
.nom{
    color:brown;
}
div{
    color:gold;
}
h1{
    font-size:1.4em;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-style: italic;
     font-weight: bold;
}
.mot{
    text-decoration-line: line-through;
}
h1{
    text-align: center;
}



    



